*{
  box-sizing: border-box;
}

html{
	font-size: 12px;
}

h1,h3{
	font-family: 'Roboto', sans-serif;
}

body{
	font-family: 'Tajawal', sans-serif;
	margin: 0px;
	line-height: 3rem;
}


h1:first-of-type{
	margin-top: 8rem;
	text-align: center;
}

h3{
	text-align: center;
}

section{
	display: flex;
	/*justify-content: space-around;*/
	flex-wrap: wrap;
	align-items: stretch;
}
article{
	width: 100%;
	height: auto;
	margin:1rem 6rem 0rem 6rem;
}

article h3{
	text-align: left;
}

body{
	font-size: 2rem;
}

@media(max-width: 868px){
	h1{
		font-size: 3rem;
		line-height: 0rem;
		padding-top: 2rem;
	}
	article{
		font-size: 2rem;
		margin:1rem 3rem 0rem 3rem;
	}
}

