/* HAMBURGER MENU*/
.menu {
  width: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.bar,
.bar:after, 
.bar:before {
  height: 5px;
  width: 100%;
  background-color: #fefefe;
  display: block;
  transform-origin: center;
  border-radius: 3px;
}

.bar:after {
  content: " ";
  transform: translateY(10px);
}

.bar:before {
  content: " ";
  transform: translateY(-15px);
}

/* Animation */
@keyframes slideDownForBefore{
  0%{
    transform: translateY(-15px);
  }
  25%, 75%{
    transform: rotateZ(0deg);
  }
  100% {
    transform: translateY(0px) rotateZ(-50deg);
  }
}

@keyframes slideUpForAfter{
  0%{
    transform: translateY(10px);
  }
  25%, 75% {
    transform: translateY(-5px);
  }
  50%, 75% {
    transform:  translateY(-5px) rotateZ(0deg);
  }
  100% {
    transform: translateY(-5px) rotateZ(50deg);
  }
}

@keyframes disappear {
  0%{
    background-color: #fefefe;
  }
  50%, 100%{
    background-color: transparent;
  }
}

/* Reverse Effect */
@keyframes re-slideUpForAfter{
  0%{
    transform: translateY(-5px) rotateZ(50deg);
  }
  25%, 75% {
    transform:  translateY(-5px) rotateZ(0deg);
  }
  50%, 75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes re-slideDownForBefore{
  0%{
    transform: translateY(0px) rotateZ(-50deg);
  }
  25%, 75%{
    transform: rotateZ(0deg);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes re-disappear {
  0%{
    background-color: transparent;
  }
  50%, 100%{
    background-color: #fefefe;
  }
}

.bar.animation:before {
    animation: slideDownForBefore 500ms linear forwards;
}

.bar.animation:after {
  animation: slideUpForAfter 500ms linear forwards;
}

.bar.animation {
  animation: disappear 500ms linear forwards;
}

/* Reverse Effect */
.bar:after {
  animation: re-slideUpForAfter 500ms forwards;
}

.bar:before {
    animation: re-slideDownForBefore 500ms forwards;
}

.bar {
    animation: re-disappear 500ms forwards;
}


/* Main Menu */
#mainMenu {
  list-style-type: none;
  padding: 1em;
  margin: 20px 0px 0px 0px;
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  transform: rotateX(90deg);
  transform-origin: top;
  opacity: 0;
}

#mainMenu a {
  text-decoration: none;
  color: dodgerblue;
  display: block;
  padding: .5em;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  margin: .4em;
  transition: background 500ms;
}

#mainMenu a:hover {
  background: dodgerblue;
  color: #fff;
}

@keyframes menuSlide {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes reverse-menuSlide {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}
.menuSlide {
  animation: menuSlide 300ms linear forwards;
}
.reverseMenuSlide {
  animation: reverse-menuSlide 300ms linear forwards;
}