aside{
  position: fixed;
  width:100%; 
  background-color: purple;
  z-index: 3;
  top:0px;
}

nav{
  height: 0px;
}

/* HAMBURGER MENU*/
#ham-menu {
  margin-top: 2rem;
  width: 40px;
  height: 35px;
  align-items: center;
  position: relative;
  float: right;
  right: 3rem;
}

/*Hamburger menu*/
.line-1,
.line-2,
.line-3 {
  background-color: white;
  height: 5px;
  width: 3rem;
  margin-bottom: 5px;
  border-radius: 1px;
  transition: all 0.3s ease-in-out;
}
/*When clicked*/
.line-1.is-clicked {
  transform: translateY(5px) rotate(45deg);
  transform-origin: center center;
}

.line-2.is-clicked {
  transform:  translateX(-100%);
  opacity: 0;
}

.line-3.is-clicked {
  transform:  translateY(-16px) rotate(-45deg);
  transform-origin: center center;
}


#site-menu-right {
  width: 10rem;
  position: absolute;
  background-color: #faf7ff;
  border: solid 3px purple;
  top:3rem;
  list-style: none;
  font-size: 1.5rem;
  height: 65rem;
}

#site-menu-right li{
  margin: 2rem 3rem 2rem 0rem;
}

#site-menu-right a{
  text-decoration: none;
  color: purple;
}

#site-menu-right a:hover{
  color: black;
  font-size: 120%;
  margin-left: 0px;
}

.hide-menu{
  right: -300px;
}

.show-menu{
  right: 0rem;
}

.move-left{
  width: 100%;
  position: absolute;
  right: 10rem;
}

