*{
  box-sizing: border-box;
}

html{
	font-size: 12px;
}

h1,h3{
	font-family: 'Roboto', sans-serif;
}

body{
	font-family: 'Tajawal', sans-serif;
	margin: 0px;
	text-align: center;
}

/*HEADER*/
header{
	background-color: purple;
	color: #f9f9f9;
	font-size: 2rem;
}

header h1{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-size: 6rem;
}

header h3{
	padding-bottom: 5rem; 
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/*Content*/
.blurbs{
	font-size: 2rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: stretch;
	color: #2d2d2d;
}

article{
	width: 50%;
	border: 2px solid #808080;
	padding: 5rem;
	height: 25rem;
	text-align: center;
}

article img{
	width: 15rem;
}

.one{
	background-color: #fff5d5;
}

.two{
	background-color: #ffd5e6;
}

.three{
	background-color: #d5ffeb;
}

.suggestions{
	text-align: center;
	font-size: 2rem;
	width: 80%;
	margin: auto;
	padding-bottom: 5rem;
}
.suggestions .inputs{
	display: block;
	margin: 2rem auto;
	background-color: #f0f0f0;
	resize: none;
	border-radius: 4px;
	border:1px solid lightslategrey;
	padding: .5rem 1rem;
	font-size: 1.25rem;
}

.suggestions textarea{
	height: 10rem;
}

.suggestions input[type=submit]{
	width: 195px;
	font-size: 1.5rem;
	border:1px solid black;
	border-radius: 4px;
	background-color: #e7e5ff;
	-moz-box-shadow:    inset 0 0 3px #000000;
   -webkit-box-shadow: inset 0 0 3px #000000;
   box-shadow:         inset 0 0 3px #000000;
}

.parallax {
    /* The image used */
    background-image: url("https://www.howellmainfour.com/wp-content/uploads/2014/03/7419840024_09c152715b_o.png");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-position: 50% 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}